body{

margin:0;
font-family:Arial;
background:#f2f2f2;

}


.navbar{

background:#0000cc;
padding:15px;

}


.navbar a{

color:white;
margin-right:20px;
text-decoration:none;
font-weight:bold;

}


.title{

text-align:center;
margin-top:20px;

}


.container{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
margin-top:30px;

}


.card{

background:white;
padding:15px;
border-radius:10px;
box-shadow:0 0 10px gray;
width:220px;
text-align:center;

}


.card img{

width:150px;
height:200px;

}


.btn-blue{

background:blue;
color:white;
border:none;
padding:7px;
margin:5px;
cursor:pointer;

}


.btn-purple{

background:purple;
color:white;
border:none;
padding:7px;
margin:5px;
cursor:pointer;

}


.btn-red{

background:red;
color:white;
border:none;
padding:7px;
margin:5px;
cursor:pointer;

}